@import url(https://fonts.google.com/specimen/League+Spartan);
body{
    background-color:  hsl(0, 0%, 100%);
    font-family: 'League Spartan';
}
.heading{
    color: hsl(300, 43%, 22%);
}
.heading-text{
    color: hsl(303, 10%, 53%);
}
.rating{
   background-color: hsl(300, 24%, 96%);
}
.name{
    color: hsl(300, 43%, 22%);
}
.card{
    background-color: hsl(300, 43%, 22%);
}
.person-details .title{
    color: hsl(300, 24%, 96%);
}
.occup{
    color: hsl(333, 80%, 67%);
}
.review-content .review-feedback{
    color: hsl(300, 24%, 96%);

}
@media screen and (min-width:768px){
    .card{
        width: 28%;
        height: 300px;
    }
    
}